@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: normal;
  src: local("Segoe UI Regular"), url("./fonts/Segoe_UI.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI";
  font-style: italic;
  font-weight: normal;
  src: local("Segoe UI Italic"), url("./fonts/Segoe_UI_Italic.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: bold;
  src: local("Segoe UI Bold"), url("./fonts/Segoe_UI_Bold.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI";
  font-style: italic;
  font-weight: bold;
  src: local("Segoe UI Bold Italic"),
    url("./fonts/Segoe_UI_Bold_Italic.woff") format("woff");
}

html {
  height: 100%;
  background-color: #0a0c1b;
  color: white;
}
body {
  margin: 0;
  height: 100%;
  font-family: "Segoe UI";
}

.card-container {
  display: flex;
  margin: 10rem 15rem 0 15rem;
  border-radius: 0.5rem;
  background-color: #1c1938;
}

.card-container__data {
  padding: 4rem;
}

.card-container__header {
  font-size: xx-large;
  font-weight: bold;
  padding-right: 1rem;
}

.card-container__paragraph {
  font-size: small;
  color: #aba9bd;
  padding: 2rem 6rem 0 0;
}

.card-container__insights {
  display: flex;
  margin-top: 4rem;
}

.card-container__insight-item {
  padding-right: 2.5rem;
}

.card-container__insight-item h3 {
  font-size: x-large;
  font-weight: bold;
}

.card-container__insight-item span {
  font-size: small;
  color: #aba9bd;
}

.card-container__aside {
  width: 100%;
  position: relative;
}

.card-container__photo {
  background: url("./images/image-header-desktop.jpg");
  width: auto;
  height: 100%;
  border-radius: 0 0.5rem 0.5rem 0;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0 0.5rem 0.5rem 0;
}
.card-container__color-layer {
  background-color: #aa5ad9;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0 0.5rem 0.5rem 0;
}

.burble-color {
  color: #aa5ad9;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (max-width: 1024px) {
  .card-container {
    text-align: center;
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    border-radius: 0.5rem;
    background-color: #1c1938;
    margin-left: auto;
    margin-right: auto;
  }
  .card-container__data {
    padding: 3rem;
  }
  .card-container__header {
    font-size: x-large;
    font-weight: bold;
    padding-right: 0;
  }

  .card-container__paragraph {
    font-size: small;
    color: #aba9bd;
    padding: 1.5rem 1rem 0 1rem;
    line-height: 1.5rem;
  }

  .card-container__insights {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }

  .card-container__insight-item {
    padding-right: 0;
    padding-top: 1rem;
  }

  .card-container__aside {
    width: 100%;
    position: relative;
    order: -1;
  }

  .card-container__photo {
    background: url("./images/image-header-desktop.jpg");
    height: 17rem;
    border-radius: 0 0.5rem 0.5rem 0;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0.5rem 0.5rem 0 0;
  }
  .card-container__color-layer {
    background-color: #aa5ad9;
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem 0.5rem 0 0;
  }
}
